
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(28, 18, 78);
    color: white;
    padding: 20px;
  }
  
  .main {
    display: grid;
    height: 800px;    
    padding-top: 130px;
    /* grid-template-columns: 1fr 6fr; */
    grid-template-columns: repeat(auto-fit, minmax(479px, auto));
  }
  
  .nav {
    background-color: rgba(115, 110, 192, 0.466);
    text-align: center;
  }
  
  .content {
    background-color: rgba(160, 157, 195, 0.466);
  }
  
  .footer {
    height: 400px;
    text-align: center;
    padding: 20px;
    background-color: rgb(223, 223, 223);
  }
  
  .bot {
    bottom: 0;
    right : 0;
    position: fixed;
    width: 350px;
  }

  .btn {
    font-size: 20px;
    float: right;
    width: 100%;
    padding: 8px;
    background-color: rgb(183, 0, 255)
  }