

.mydiv{
    
    background-color:  rgba(235,30,56,1);
    background-image:url('../../public/woman_with_chart.svg'),url('../../public/woman_v_sign.svg') ;
    background-repeat: no-repeat, no-repeat;
    background-position: 130% 98%, -180px 100%;
    background-size: 50vw 50vh, 40vw 40vh;
   
}

.grid{
    background: rgb(228,178,68);
background: radial-gradient(circle, rgba(228,178,68,1) 12%, rgba(235,30,56,1) 100%);
 
    width: 100%!important;
    margin: auto!important;
    max-width: 950px!important;
    padding: 10px 0;
    flex-basis: auto!important;
   
   
}

.field{
    
    width: 100%!important;
    margin: 3%!important;
    box-shadow: 0 6px 8px 0 rgba(211, 156, 182, 0.981);
   
}
.field:hover {
  transform: scale(1.04);
}

