.myalert {
    color: #1f1e1e;
    background-color: #e2929e;
    border-color: #ffd7d6;
    background-image: -webkit-linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      hsla(0, 0%, 0%, 0.05) 25%,
      hsla(0, 0%, 0%, 0.05) 50%,
      transparent 50%,
      transparent 75%,
      hsla(0, 0%, 0%, 0.05) 75%,
      hsla(0, 0%, 0%, 0.05)
    );
    background-image: -moz-linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      hsla(0, 0%, 0%, 0.1) 25%,
      hsla(0, 0%, 0%, 0.1) 50%,
      transparent 50%,
      transparent 75%,
      hsla(0, 0%, 0%, 0.1) 75%,
      hsla(0, 0%, 0%, 0.1)
    );
    background-image: -ms-linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      hsla(0, 0%, 0%, 0.1) 25%,
      hsla(0, 0%, 0%, 0.1) 50%,
      transparent 50%,
      transparent 75%,
      hsla(0, 0%, 0%, 0.1) 75%,
      hsla(0, 0%, 0%, 0.1)
    );
    background-image: -o-linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      hsla(0, 0%, 0%, 0.1) 25%,
      hsla(0, 0%, 0%, 0.1) 50%,
      transparent 50%,
      transparent 75%,
      hsla(0, 0%, 0%, 0.1) 75%,
      hsla(0, 0%, 0%, 0.1)
    );
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      hsla(0, 0%, 0%, 0.1) 25%,
      hsla(0, 0%, 0%, 0.1) 50%,
      transparent 50%,
      transparent 75%,
      hsla(0, 0%, 0%, 0.1) 75%,
      hsla(0, 0%, 0%, 0.1)
    );
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.1);
    display: block;
    font: bold 16px/40px sans-serif;
    height: 70px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 63px;
    width: 100%;
    animation-delay: 100s;
    -webkit-animation: alert 1s ease forwards;
    -moz-animation: alert 1s ease forwards;
    -ms-animation: alert 1s ease forwards;
    -o-animation: alert 1s ease forwards;
    animation: alert 1s ease forwards;
}
