.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 207, 246);
}
.intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 5rem;
  font-size: 17px;
  justify-content: center;
  margin-bottom: -8rem;
}
.intro h1 {
  padding: 40px;
}
.img {
  position: relative;
  height: 120px;
  z-index: 100;
}
.body {
  /* background: coral; */
  display: flex;
  justify-content: center;
  border-radius: 5rem;
  width: 80%;
  align-items: center;
  background-attachment:scroll;  
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px !important;
  margin-left: 0px !important;
}
.card {
  position: relative;
  width: 290px;
  height: 530px;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 20px;

  box-shadow: 0 15px 25px black;
  transition: 0.5s;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.h2 {
  color: rgb(3, 0, 0);
  margin-bottom: 15px;
  font-size: 15px;
  text-align: center;
}
.content {
  position: absolute;
  bottom: 20px;
  padding: 25px;
  page-break-after: 20px;
  text-align: center;
  margin-top: 20px;
}
.p {
  color: rgb(56, 56, 56);
  font-size: 16px;
}
.a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: aliceblue;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 1px;
}
.a:hover {
  color: rgb(255, 167, 208);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background: rgb(235, 91, 158);
  color: white;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 10px;
  width: 330px;
}
.btn:hover {
  color: #000;
}
.card2 {
  margin-left: 200px;
  width: 430px;
  height: 370px;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 20px;

  box-shadow: 0 15px 25px black;
  transition: 0.5s;
  transition: transform 0.3s;
}
.card2:hover {
  transform: scale(1.05);
}
.card3 {
  margin-left: 200px;
  width: 430px;
  height: 370px;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 20px;

  box-shadow: 0 15px 25px black;
  transition: 0.5s;
  transition: transform 0.3s;
}
.card3:hover {
  transform: scale(1.05);
}

