
@import "../components/navbar.css";
html,
body {
  background-color: rgb(248, 174, 186);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
<<<<<<< HEAD
 
=======
  background-image: url('../public/woman_with_chart.svg'),url('../public/woman_v_sign.svg');
  background-size: 60vw 60vh, 45vw 46vh;
  background-repeat: no-repeat, no-repeat;
  background-position: 107% 99%, 0% 100%;
  width: 100vw;
  height: 100vh;
>>>>>>> ce13e0c29b2d93ed05cf7dd1dd0bff102dfc9660
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);


a {
  color: inherit;
  text-decoration: none;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}
