  
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.react-calendar {
    border: none;
    background: transparent;
}
.heading {
	font-family:'Special Elite', cursive;
	margin-top: -1em;
	display: flex;
    flex-direction: row;
    justify-content: center;
}