@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.react-calendar {
  border: none;
  background: transparent;
}
.heading {
  font-family: "Special Elite", cursive;
  margin-top: -1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nextbtn {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
}
.RangeExample {
  margin-right: 400px;
  margin-left: 400px;
}
.link {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 20px;
  border-radius: 25px;
  margin: 0 20px;
  cursor: pointer;
}
.container {
  font-family: Special Elite;
  background-color: rgb(228, 146, 194);
  border-radius: 30px;
  padding: 30px;
  opacity: 0.9;
  margin: 0 auto;
  width: 50%;
}
.Agreebtn {
  margin-right: 15px;
  color: rgba(240, 4, 106, 0.829);
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border-radius: 50px;
}
.Disagreebtn {
  margin-right: 40px;
  color: rgba(240, 4, 106, 0.829);
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border-radius: 50px;
}
.Agreebtn:hover {
  box-shadow: inset 0 0 0 50px #d80286;
  color: black;
}
.Disagreebtn:hover {
  box-shadow: inset 0 0 0 50px #d80286;
  color: black;
}

.calendarContainer {
  min-height: 90vh;
}

@media (max-width: 400px) {
  .container {
    width: 85%;
    padding: 2rem 0;
  }
}
