@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.footer {
  margin-top: 350px;
  background: black;
  padding: 20px;
  color: aliceblue;
  display: block;
  width: 100vw;
  margin-right: 0;
  padding-right: 0;
}
.one {
  float: left;
  display: flex;
  justify-content: center;
}
.two {
  display: flex;
  justify-content: center;
}
.base {
  background: #960435;
  color: black;
  display: flex;
  font-family: "poppins";
  padding: 0;
  margin-bottom: 0;
  justify-content: center;
  font-size: 1.2em;
}
.name {
  color: "black";
}
.iconGit:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*.paper {
  align-items: "center";
  margin: "0 20%";
  background: "#960435";
}

 .contactCard {
  background-color: "#960435";
  color: "white";
} 

.contactText {
  width: "100%";
  background: "#fad2e3";
}

.contactTextArea {
  width: "100%";
  background: "#e9b8cc";
  max-height: "90px";
  min-height: "90px";
  overflow-y: "scroll";
  font-size: "17px";
  outline: "none";
  padding: "10px";
} */

.contactButton {
  font-size: 100px;
}

@media (max-width: 480px) {
  .contactus {
    margin: 1% -19%;
    margin-right: 0;
  }
  .footer{
    margin-top: 12em;
  }
}
