
.upload::-webkit-file-upload-button {
  visibility: hidden;
}
.upload::before {
  content: 'Choose Profile Picture';
  display: inline-block;
  background: #FC4C4E /*-webkit-linear-gradient(top, #f9f9f9, #e3e3e3)*/;
  border: 1px solid #FC4C4E;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  color: white;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.upload:hover::before {
  border-color: black;
}
.upload:active::before {
  background: #FC4C4E /*-webkit-linear-gradient(top, #f9f9f9, #e3e3e3)*/;
}

.upload{
  position: absolute;
  top: 90px;
  left: -33vw;
  z-index: 3;
  width: 160px;
  overflow:hidden;
}

.uploadIcon{
  position: absolute;
  top: 86px;
  left: -34.6vw;
  border-radius: 50%;
  z-index:100;
  width: 20px;
  height: 20px;
}

.profilePicAfter{
  height: 190px;
  width: 186px;

  border-radius: 50%;
  position: relative;
  margin: auto auto 130px;

  z-index: 4;
}

@media screen and (max-width: 798px) {

  .upload{
    position: absolute;
    top: 700px;
    left: 20vw;
  }
  .uploadIcon{
    position: absolute;
    top: 690px;
    left: 18vw;
  }
}

@media screen and (max-width: 430px){
  .upload{
    transform: scale(0.8) translateY(-15px);
  }
  .uploadIcon{
    transform: scale(0.8) translateY(-15px) translateX(10px);
  }
}
@media screen and (max-width: 405px) {
  .profilePicAfter{
    width: 30vw;
    height: 14vw;
    min-height: 140px;
    min-width: 140px;
    margin: auto auto 200px;
    z-index: 3;
  }
}
@media screen and (max-width: 358px){
  .upload{
    transform: scale(0.75) translateY(-35px) translateX(-30px);
  }
  .uploadIcon{
    transform: scale(0.75) translateY(-35px) translateX(-19px);
  }
}

@media screen and (max-width: 273px) {
  .profilePicAfter{
    transform: scale(0.65) translateY(-360px);
  }
}
