





.quiz {
  position: absolute;
  bottom: 20%;
  left: 30%;
  justify-content: center;
  align-items: center;

  background-color: #252d4a;
  width: 36%;
  min-width: 250px;
  max-width: 450px;
  margin: auto;

  height: 60vh;
  border-radius: 15px;
  margin-top: 250px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;



}


.questionsection {
  color:white;
  width: 100%;
  position: relative;
}

.questioncount {
  margin-bottom: 20px;
}

.questioncount span {
  font-size: 28px;
}

.questiontext {
  margin-bottom: 12px;
}



.answersection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 100%;
  font-size: 16px;
  justify-content: space-evenly;
  background-color: #252d4a;
  border-radius:15px;
  display: flex;
  padding: 5px;
  margin:5px;
  justify-content: flex-start;
  align-items: center;
  border:solid white;
  cursor: pointer;
  color:white;
  outline:none;
}
.resultCard{
  color: white;
  /*background-image: url("../../public/Questions.svg");*/
  position: absolute;
  bottom: 40%;
  left: 100%;
  justify-content: center;
  align-items: center;
  background-color: #D84242;
  min-width: 250px;
  margin: auto;
  height: 40vh;
  width: 10vw;
  border-radius: 15px;
  margin-top: 250px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
}
.resultCard2{
  color: white;
  /*background-image: url("../../public/Questions.svg");*/
  position: absolute;
  bottom: 40%;
  right: 100%;
  justify-content: center;
  align-items: center;
  background-color: #D84242 /*#252d4a*/;
  min-width: 250px;
  margin: auto;
  height: 40vh;
  width: 10vw;
  border-radius: 15px;
  margin-top: 250px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
}
.endCardButton1{
  background-color: #B53737;
  border-color: #B53737;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 85%;
  left: 10%;
}
.endCardButton2{
  background-color: #B53737;
  border-color: #B53737;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 85%;
  left: 55%;
}
.endCardHead{
  position: absolute;
  bottom: 74%;
  font-size: 7vh;
  left: 30%;
  color: #D84242;
}
.endCardText{
  position: absolute;
  color: white;
  top: 62%;
  left: 10%;

}
.allSet{
  position: absolute;
  top: 16%;
  left: 20%;
}
.endCardButton1:hover {
  /*border:#D84242;

  color: white;*/

  cursor: pointer;
  background-color: #D84242;
  border: #D84242;
}
.endCardButton2:hover {
  /*border:#D84242;

  color: white;*/

  cursor: pointer;
  background-color: #D84242;
  border: #D84242;
}


.button:hover { border:white;
  background-color: #D84242;
  cursor: pointer;
}
.button:active{background-color: #9E4244;
border:white;}


.button svg {
  margin-right: 5px;}
