.slider-frame{
    overflow: hidden;
    height: 700px;
    width: 100vw;
}

@keyframes slider_animation{
    0%{
        left: 0px;
       
    }
    10%{
        left: 0px;
    }
    20%{
        left: 1200px;
    }
    30%{
        left: 1200px;
    }
    40%{
        left: 2400px;
    }
    50%{
        left: 2400px;
    }
    60%{
        left: 1200px;
    }
    70%{
        left: 1200px;
    }
    80%{
        left: 1200px;
    }
    90%{
        left: 0px;
    }
    100%{
        left: 0px;
    }
}

.slide-images{
width: 3600px;
height: 800px;
margin: 0 0 0 -2400px;

}
 .img-container{
    height: 700px;
    width: 1200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  

}
.sliderImg1{
    background-image: url("../images/img1.jpg");
}
.sliderImg2{
    background-image: url("../images/img2.jpg");
}
.sliderImg3{
    background-image: url("../images/img3.jpg");
} 
.img-container img{
    width: 100%;
    height: auto;
    text-align: center;
   
}
.slide-items{
    height: 800px;
    width: 1200px;
    position: relative;
    animation: slider_animation 15s infinite alternate;  
    float: left;
}

.Content-box-slider{
    width: 600px;
    height: 200px;
    padding-bottom: 4rem;
    /* background-color: #4C4C4C; */
    color: #fff;
    position: absolute;
    top: 40%;
    transform: translateY(100px);
}
  .box-imgslider1{
    
    left: 5%;
    animation: text-up 5s linear infinite;
   transition: all 0.5s linear; 
   }
   
   .box-imgslider2{

    top: 35%; 
    left: 3%;
     animation: text-up 10s linear infinite;
    
   }

   .box-imgslider3{ 
    width: 600px;
    right: 15%;
    animation: text-up 15s linear infinite;
    
   }

.Content-box-slider h1{
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    color: #fb3958;
}
.Content-box-slider p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify; 
}
.Content-box-slider a{
    text-decoration: none;
    width: 150px;
    padding: 1rem;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
   
 
}
.box-imgslider2 a{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 40%;
}
.Content-box-slider:hover> a{
    cursor: pointer;
    font-size: 30px;
    color: red;
}

@keyframes text-up{
    20%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.Content-box-slider span{
   width: 150px;
   height: 3px;
   margin-top: 0.5rem;
    position: absolute;
    background-color: black;
    left: 0;
    top: 30%;
}
.css-cu6pwb{
    display: none;
}
@media only screen and (max-device-width: 680px) {
    .img-container{
        height: 600px;
        width: 550px;
       
    }

    .Content-box-slider{

       width: 400px;
        top: 10%;
        left: 0;
    }


}