.work_container{
    max-width: 90vw;
    margin: 8rem auto;
}
.work_item_img{
    width: 100%;
    height: 100%;
    display: block;
    transition: all 1s linear;
    opacity: 1;
}
.work_item{
    background:linear-gradient(pink, pink);
    overflow: hidden;
    position: relative;
}
.work_item:hover .work_item_img{
    opacity: 0.5;
    
}