
.nav-img{
    position: relative;
    left: 2%;
}
.Nav-bar{
   width: 90%;
   height: 150px;
  padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: 700;
} 
.main-navbar{
   width: 100%;
   margin-right: 10px;
}
.Nav-bar:hover{
   border-radius: 2rem;
    box-shadow: 2px 2px 3px 3px cyan,
                 2px 2px 5px 4px cyan;
color: turquoise;
}
#nav-btn,.toggle{
    display: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 80px;
  }

/***********Responsive********/

@media screen and (max-width:1000px){
    .main-navbar{
        display: none;
        visibility: hidden;
    }
      
    .toggle{
        display: block;
        position: absolute;
        top: 2%;
        right: 2%;
    }
    .Nav-bar{
        position: relative;
        right: -60%;
        text-align: center;
        text-transform: capitalize;
    }
    .toggel-btn{
        width: 30px;
        min-height: 7px;
        margin: 2px;
        background-color: white;

    }

    #nav-btn:checked+.main-navbar{
        display: flex;
        flex-direction: column;
        visibility: visible;
    }
    .Nav-bar:hover{
        color: red;
    }
}

/* @media screen and (max-width:400px){

    .Nav-bar{
        right: -30%;
    }

} */