@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playball&family=Redressed&family=Special+Elite&display=swap');

.background {
  margin: 50px 0;
  background-image: url('./images/women.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 3px;
  animation: animated-text 6s steps(44, end) 1s 1 normal both,
    animated-cursor 600ms steps(44, end) infinite;
  animation-iteration-count: infinite;
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 870px;
  }
}
@keyframes animated-cursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

.heading {
  font-family: 'Special Elite', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



