@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playball&family=Redressed&family=Special+Elite&display=swap');

.background{
    margin: 50px 0;
    background-image: url('./images/women.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.heading {
    font-family:'Special Elite', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    /* /* background-color: rgb(241, 231, 216); */
     display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: auto;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 10px;
    border: none;
    transition: all 0.4s ease 0s;
}

.button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }


