@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.body {
  margin-top: 90px;
  padding: 50px;
  box-sizing: border-box;
}
.heading {
  font-size: 50px;
  color: white;
  width: 100%;
  padding-top: 30px;
  margin-top: 65px;
  top: 0px;
  display: flex;
  justify-content: center;
  background-color: #181818;
}
.topline {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 20px;
  color: #a0616a;
  text-transform: uppercase;
  background-color: #181818;
}
.subline {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  justify-content: center;
  color: white;
  background-color: #181818;
}
.bottomline {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #181818;
  padding: 20px 20px 20px 30px;
  margin-bottom: 0;
}
.body {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
}
.med {
  position: absolute;
  top: 55%;
  left: 60%;
  z-index: 2;
}
.chatbot {
  position: absolute;
  top: 8%;
  left: 60%;
  z-index: 2;
}
.calendar {
  position: absolute;
  top: 8%;
  right: 60%;
  z-index: 2;
}
.diet {
  position: absolute;
  top: 55%;
  right: 60%;
  z-index: 2;
}
.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  max-width: 400px;
  width: 90%;
  text-align: center;
  padding: 10px;
  height: 330px;
  background: #c26e7a;
  margin: 20px;
  perspective: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgb(19, 4, 4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.h2 {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 100;
  font-family: Roboto;
  padding: 10px 11px;
}
.content {
  position: absolute;
  bottom: 0;
  padding: 0 3px;
  text-align: center;
}
.p {
  color: black;
  font-weight: normal;
  bottom: 0;
}
.card:hover {
  transform: scale(1.1);
  background: #db4158;
  box-shadow: 0 15px 25px rgb(0, 0, 0);
  border: 3px solid;
  border-color: rgb(235, 186, 197);
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.image {
  overflow: hidden;
  transform: translatey(0px);
  animation: float 3.4s ease-in-out infinite;
}

